<div class="board-section">
  <div class="spawn-spaces">
    <div class="space-wrapper" *ngFor="let space of boardSection.spawnSpaces">
      <app-space></app-space>
    </div>
  </div>
  <div class="home-spaces">
    <div class="space-wrapper" *ngFor="let space of boardSection.homeSpaces">
      <app-space></app-space>
    </div>
  </div>
  <div class="main-spaces">
    <div class="space-wrapper" *ngFor="let space of boardSection.mainSpaces">
      <app-space></app-space>
    </div>
  </div>
</div>
